input {
    margin: 10px 0 10px 0;
  }
  .myStyle {
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    border: 3px solid rgb(94, 105, 138);
    border-radius: 40px;
    margin-bottom: 10px;
    color: rgb(94, 105, 138);
  }
  