<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.aria-expanded]="accordionItem.expanded"
  >
    <div
      class="myStyle example-accordion-item-header"
      (click)="accordionItem.toggle()"
    >
      <span><strong> Element with Id:</strong>{{ id$ | async }}</span>
      Style
      <span class="example-accordion-item-description">
        Click to {{ accordionItem.expanded ? "close" : "open" }}
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
    >
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input
          formControlName="placeholder"
          type="text"
          placeholder="placeholder text"
        />
        <input formControlName="width" type="text" placeholder="width" />
        <input formControlName="height" type="text" placeholder="height" />
        <!-- =================== -->
        <input
          formControlName="checkbox"
          type="checkbox"
          id="scales"
          name="scales"
          checked
        />
        <label for="scales">required</label>
        <!-- ==================== -->
        <input formControlName="border" type="text" placeholder="borderStyle" />
        <input
          formControlName="font-size"
          type="text"
          placeholder="FontSizeInput"
        />
        <!-- ==================== -->
        <select formControlName="Select" cdkDrag>
          <option value="">normal</option>
          <option value="">bold</option>
        </select>
        <!-- ===================== -->
        <input
          formControlName="backround-color"
          type="text"
          placeholder="ColorInputRGB"
        />
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
